// Center block
@mixin center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map.get($columns, $numberColumns) - (($columns-margin * ($numberColumns - 1)) / $numberColumns);
}

// Responsive
// 参考：https://www.tam-tam.co.jp/tipsnote/html_css/post10708.html
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

// レスポンシブ非表示
@mixin responsive($class, $bp: $breakpoint-up) {
  @each $suffix, $value in $bp {
    @media #{$value} {
      #{$class}-#{$suffix} {
        @content;
      }
    }
  }
}
