/* Text meant only for screen readers. */
.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.
  border: 0;

  &:focus {
    top: 5px;
    left: 5px;
    z-index: 100000; // Above WP toolbar.
    display: block;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    clip: auto !important;
    clip-path: none;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: normal;
    color: $color-text-screen;
    text-decoration: none;
    background-color: $color-background-screen;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 60%);
  }
}

/* Do not show the outline on the skip link target. */
#primary[tabindex='-1']:focus {
  outline: 0;
}
