.alignleft {
  /* rtl:ignore */
  float: left;

  /* rtl:ignore */
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /* rtl:ignore */
  float: right;
  margin-bottom: 1.5em;

  /* rtl:ignore */
  margin-left: 1.5em;
}

.aligncenter {
  margin-bottom: 1.5em;
  clear: both;

  @include center-block;
}
