p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  max-width: 100%;
  padding: 1.6em;
  margin-bottom: 1.6em;
  overflow: auto;
  font-family: $font-pre;
  line-height: $font-line-height-pre;
  background: $color-background-pre;
}

code,
kbd,
tt,
var {
  font-family: $font-code;
}

abbr,
acronym {
  cursor: help;
  border-bottom: 1px dotted $color-border-abbr;
}

mark,
ins {
  text-decoration: none;
  background: $color-background-ins;
}

big {
  font-size: 125%;
}
