button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  padding: 0.6em 1em 0.4em;
  line-height: 1;
  color: rgb(0 0 0 / 80%);
  background: map.get($colors, 'background-button');
  border: 1px solid;
  border-color: map.get($colors, 'border-button');
  border-radius: 3px;

  &:hover {
    border-color: map.get($colors, 'border-button-hover');
  }

  &:active,
  &:focus {
    border-color: map.get($colors, 'border-button-focus');
  }
}
